html{
    display: flex;
    justify-content: center;
}
body{
    max-width: 1200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    align-items: center;
}
li{
    list-style-type: none;
    padding-left: 20px;
}
.lien{
    color: rgb(173, 171, 171);
    text-decoration: none;
    padding: 14px 25px;
}
a:hover{
    color: slateblue;
}
.ensemble{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    text-align: left;
    font-family: 'Abril Fatface', cursive;
    justify-content: center;
    color: #D05270;
}
h2{
    text-align: left;
    justify-content: center;
    color: #D05270;
}
p{
    text-align: justify;
}
.premier{
    display: flex;
    flex-direction: row;
}
.premierp{
    display: flex;
}
.deuxiemep{
    display: flex;
}
.illustration{
    padding-left: 75px;
    width: 230px;
    height: 200px;
}
.deuxieme{
    display: flex;
    justify-content: center;
}
.troisiemep{
    display: flex;
}
.button{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

/* Début CSS des bouttons */

.textetwitter{
    background-color: #10A9F4;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.twitter{
    width: 30px;
    height: 30px;
    padding-right: 30px;
}
.textelinkedin{
    background-color: #4876B4;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.linkedin{
    width: 30px;
    height: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.textemedium{
    background-color: #323132;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.medium{
    width: 30px;
    height: 30px;
    padding-right: 30px;
}

/* Fin CSS des bouttons */