
body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-width: 900px;
    margin: auto;
}
h1{
    font-family: 'Abril Fatface', cursive;
}

/* footer*/
.illustration
{
    width: 400px;
    height: 400px;
}

.a_propos
{
    color:#D05270;
}
footer
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 400px;
    gap: 30px;
}

footer section
{
    display: grid;
    grid-template-rows: 1fr, 1fr, 2fr ;
}

footer ul
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style-type: none;
}