html{
    display: flex;
    justify-content: center;
}
body{
    max-width: 1200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: larger;
}
nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    align-items: center;
}
li{
    list-style-type: none;
    padding-left: 20px;
}
.lien{
    color: rgb(173, 171, 171);
    text-decoration: none;
    padding: 14px 25px;
}
a:hover{
    color: slateblue;
}
h1{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    justify-content: center;
    color: #D05270;
}
form{
    text-align: center;
}
h2, h3{
    color: slateblue;
}
.avistextep{
    color: slateblue;
}
.mail{
    text-align: center;
}
footer{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.titleentete{
    text-align: left;
    color: #D05270;
}
.textentete{
    text-align: left;
}
.entete{
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.illustration{
    padding-left: 175px;
    height: 350px;
    width: 350px;
}
.button{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

/* Début CSS des bouttons */

.textetwitter{
    background-color: #10A9F4;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.twitter{
    width: 30px;
    height: 30px;
    padding-right: 30px;
}
.textelinkedin{
    background-color: #4876B4;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.linkedin{
    width: 30px;
    height: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.textemedium{
    background-color: #323132;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.medium{
    width: 30px;
    height: 30px;
    padding-right: 30px;
}

/* Fin CSS des bouttons */