html{
  display: flex;
  justify-content: center;
}
body{
  max-width: 1200px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
}

/* Nav bar */

nav{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
  
ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li{
  list-style-type: none;
  padding-left: 20px;
}
.lien{
  color: rgb(173, 171, 171);
  text-decoration: none;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
}
a:hover{
  color: slateblue;
}

/* main */

main{
  display: flex;
  justify-content: center;
  text-align: justify;
  padding-bottom: 100px;
  font-weight: bold;
}
.photo_accueil{
  width: 1200px;
  padding-bottom: 50px;
}
h1{
  font-family: 'Abril Fatface', cursive;
  color: #D05270;
}
article{
  padding-top: 50px;
}
article p{
  color: dimgray;
}
h2{
  color: slateblue;
}

/*profils*/

figcaption{
  text-align: center;
}
article .button:only-of-type{
  padding-top: 75px;
}
.photo_profil{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.profil_individuel_un{
  display: flex;
  flex-direction: row-reverse;
}
.profil_individuel_deux{
  display: flex;
}

/*le footer*/

.illustration {
  width: 400px;
  height: 400px;
  padding-left: 175px;
}
footer{
  display: flex;
}
.section_footer{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 15px;
  font-weight: lighter;
}
.section_footer h2{
  color: #D05270;
}
.section_footer div{
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  gap: 20px;
}
.button{
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

/* Début CSS des boutons */

.textetwitter{
  background-color: #10A9F4;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.twitter{
  width: 30px;
  height: 30px;
  padding-right: 30px;
}
.textelinkedin{
  background-color: #4876B4;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.linkedin{
  width: 30px;
  height: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}
.textemedium{
  background-color: #323132;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.medium{
  width: 30px;
  height: 30px;
  padding-right: 30px;
}