html{
    display: flex;
    justify-content: center;
}
body{
    margin: 0, auto;
    max-width: 1200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-content: center;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    list-style-type: none;
    padding-left: 20px;
}
.lien{
    color: rgb(173, 171, 171);
    text-decoration: none;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}
a:hover{
    color: slateblue;
}
.illustration{
    padding-left: 175px;
    height: 300px;
    width: 350px;
}
header{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.entete{
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.button{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

/* Début CSS des bouttons */

.textetwitter{
    background-color: #47a9e8;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.twitter{
    width: 30px;
    height: 30px;
    padding-right: 30px;
}
.textelinkedin{
    background-color: #1275B1;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.linkedin{
    width: 30px;
    height: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.textemedium{
    background-color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.medium{
    width: 30px;
    height: 30px;
    padding-right: 30px;
}

/* Fin CSS des bouttons */