html{
  display: flex;
  justify-content: center;
}
body{
  max-width: 1200px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
nav{
  display: flex;
  justify-content: space-between;
}
ul{
  display: flex;
  align-items: center;
}
li{
  list-style-type: none;
  padding-left: 20px;
}
.lien{
  color: rgb(173, 171, 171);
  text-decoration: none;
  padding: 14px 25px;
}
a:hover{
  color: slateblue;
}
header{
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
h1{
  font-family: 'Abril Fatface', cursive;
  color: #D05270;
}
h2{
  font-size: 30px;
}
.entete{
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.illustration{
  padding-left: 175px;
  width: 400px;
  height: 400px;
}
.button{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

/* Début CSS des bouttons */

.textetwitter{
  background-color: #47a9e8;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.twitter{
  width: 30px;
  height: 30px;
  padding-right: 30px;
}
.textelinkedin{
  background-color: #1275B1;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.linkedin{
  width: 30px;
  height: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}
.textemedium{
  background-color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.medium{
  width: 30px;
  height: 30px;
  padding-right: 30px;
}

/* Fin CSS des bouttons */

/* Début CSS de la grille */

section{
  display: grid;
  padding-top: 75px;
  grid-template-columns: 590px 590px;
  grid-gap: 20px;
  grid-template-rows: 350px 200px;
}
.ordi{
  height: 350px;
  width: 590px;
}
h3{
  color: #D05270;
}
.lienblog{
  color: #D05270;
  text-decoration: none;
}
.un{
  grid-column: 1;
  grid-row: 1;
}
.deux{
  grid-column: 2;
  grid-row: 1;
}
.trois{
  grid-column: 1;
  grid-row: 3;
}
.quatre{
  grid-column: 2;
  grid-row: 3;
}
.cinq{
  grid-column: 1;
  grid-row: 5;
}
.six{
  grid-column: 2;
  grid-row: 5;
}

/* Fin CSS de la grille */